body{
    background-color: rgba(35, 35, 125, 1);
    
    height: 100%;
    
}
@keyframes desertdust {
    from{background-position: 0 0 }
    to {background-position: 100% 0}
    
}
div{
    background-color: rba(255, 255, 255, 0.7);
   z-index: 1;
    
}
div.cloud{
    z-index: -1;
    background-image: url(pictures/bodd.png);
    background-size: contain;
    background-position: 0, 0;
    background-repeat: repeat-x;
    animation-name: desertdust;
    animation-duration: 3s;
    animation-timing-function: linear;
   animation-iteration-count: infinite;
    position: fixed;
    bottom: 0%;
    height: 5em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
div.star{
    z-index: -1;
    background-image: url(pictures/star.png);
    background-size: contain;
    background-position: 0, 0;
    background-repeat: repeat-x;
    animation-name: starr;
    animation-duration: 9s;
    animation-timing-function: linear;
   animation-iteration-count: infinite;
    position: fixed;
    bottom: 50%;
    height: 5em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
div.moon{
    z-index: -1;
    background-image: url(pictures/moonnn.png);
    background-size: contain;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation-name: moonfly;
    animation-duration: 9s;
    animation-timing-function: linear;
   animation-iteration-count: infinite;
    position: fixed;
    top: 0%;
    height: 9em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
@keyframes moonfly {
    from{background-position: 0 0 }
    to {background-position: 100% 0}
    
}
@keyframes starr {
    from{background-position: 0 0 }
    to {background-position: 100% 0}
    
}
div.button{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1em;
    position: absolute;
    width: 15em;
    height: 7em;
    transition-property: width, height, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
div.button:hover
{
    
    box-shadow: 0px 0px 29px rgba(125, 125, 255, 0.7);
}
div.button p{
    color: rgba(0, 0, 0, 1);
    font-size: 3em;
    margin-left: 0.5em;
}
div.bred{
    background-color: rgba(35, 35, 125, 1);
    background-image: url(pictures/jlbbR.jpg);
    background-position: center; 
    background-repeat: no-repeat;
   
 border-radius: 1em;
    position: absolute;
    width: 15em;
    height: 7em;
    transition-property: width, height, box-shadow;
    transition-duration: 0.05s;
    transition-timing-function: ease-in;    
top: 80%; 
left: 15%; 
background-color: rgba(255, 0, 0, 1);;
}
.bred:hover{
box-shadow: 0px 0px 29px rgba(255, 255, 255, 0.7);
}
.bred:click{
    
    background-color: rgba(125, 0, 0, 1);;
}
div.bgreen{
    background-color: rgba(35, 35, 125, 1);
    background-image: url(pictures/jlbbG.jpg);
    background-position: center; 
    background-repeat: no-repeat;
 border-radius: 1em;
    position: absolute;
    width: 15em;
    height: 7em;
    transition-property: width, height, box-shadow;
    transition-duration: 0.05s;
    transition-timing-function: ease-in;    
top: 80%; 
left: 40%; 
background-color: rgba(0, 255, 0, 1);
}
.bgreen:hover{
 box-shadow: 0px 0px 29px rgba(255, 255, 255, 0.7);
}
.bgreen:click{
    background-color: rgba(0, 125, 0, 1);
    
}
div.bblauw{
    background-color: rgba(35, 35, 125, 1);
    background-image: url(pictures/jlbbB.jpg);
    background-position: center; 
    background-repeat: no-repeat;
 border-radius: 1em;
    position: absolute;
    width: 15em;
    height: 7em;
    transition-property: width, height, box-shadow;
    transition-duration: 0.05s;
    transition-timing-function: ease-in;    
top: 80%; 
left: 65%; 
background-color: rgba(0, 0, 255, 1);
}
.bblauw:hover{
box-shadow: 0px 0px 29px rgba(255, 255, 125, 0.7);

}
.bblauw:click{
    background-color: rgba(0, 0, 125, 1);
    
}
div.back{
    z-index: 0;
background-color: rgba(255, 255, 255, 1);
    height: 100%;
    width: 35em;
    position: absolute;
    left: 29%;
}
div.challengR{
    background-color: rgba(35, 35, 125, 1);
    background-image: url(pictures/jlbbR.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    width: 15em;
    height: 15em;
position: absolute;
top; 51%;
left: 41%;
background-color: rgba(255, 0, 0, 1);    
}
div.challengG{
    background-color: rgba(35, 35, 125, 1);
    background-image: url(pictures/jlbbG.jpg);
    background-position: center; 
    background-repeat: no-repeat;
     width: 15em;
    height: 15em;
position: absolute;
top; 51%;
left: 41%;
background-color: rgba(0, 255, 0, 1);    
}
div.challengB{
    background-color: rgba(35, 35, 125, 1);
    background-image: url(pictures/jlbbB.jpg);
    background-position: center; 
    background-repeat: no-repeat;
     width: 15em;
    height: 15em;
position: absolute;
top; 91%;
left: 41%;
background-color: rgba(0, 0, 255, 1);    
}
div.retry{
    background-image: url(pictures/retry.png);
    background-position: 50%, 50%; 
    background-repeat: no-repeat;
    
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.5);
position: absolute;    
 z-index: 3;   
 font-family: cursive;
font-size: 5em;    
}
div.thescore{
    border-radius: 1.5em;
    margin-top: 1em;
top: 5%;
right: 5%;    
width: 11em;
height: 3em;
background-color: rgba(255, 255, 255, 1);
position: fixed;    
 z-index: 4;   
 font-family: cursive;
    text-align: center;
font-size: 1em;    
}
div.retryy{
    background-image: url(pictures/retryy.jpg);
    background-position: 50%, 50%; 
    background-repeat: no-repeat;
    width 3em;
    height: 3em;
    border-radius: 1em;
    position: fixed;
    top: 15%;
    right: 15%;
    z-index: 3;
    background-color: rgba(136, 0, 21, 1);
    
}